<h1>{{title}}</h1>
<input type="number" [(ngModel)]="airlineId">
<button (click)="addAilineByid(airlineId)">Add Airline</button>
<button (click)="createAilines()">Add Airline</button>
<p class="message">id of passengers for testing: 5ff6f93d41f00ea20e8335ab, 5ff6fa4c41f00e20488335c1, 5ff6319e7e1102a861af7dc7, 5ff6f50941f00e5a0583356d</p>
<hr>
<input type="string" [(ngModel)]="passengersId">
<button (click)="addPassengerById(passengersId)">Add Passenger</button>
<!-- <button (click)="createAilines()">Add Airline</button> -->
<div class="container">

  <div *ngFor="let air of airlines" class="card" >
    <h3>{{air.name}}</h3>
    <img src="{{air.logo}}" alt="logo" width="150">
    <p>{{air.slogan}}</p>
    <a href="{{air.website}}">{{air.website}}</a>
    <p>{{air.country}}</p>
  </div>

  <div class="pass-card" *ngFor="let pass of passengers">
    <p><i>Passenger id: {{pass._id}}</i></p>
    <h3>Passenger name: {{pass.name}}</h3>
    <p>Passenger trips: {{pass.trips}}</p>
    <div *ngFor="let air of pass.airline" class="card" >
      <h3>{{air.name}}</h3>
      <img src="{{air.logo}}" alt="logo" width="150">
      <p>{{air.slogan}}</p>
      <a href="{{air.website}}">{{air.website}}</a>
      <p>{{air.country}}</p>
    </div>

    <button (click)="uppdatePassenger(pass)">Uppdate Passenger</button>
    <button (click)="deletePassenger(pass)">Delete Passenger</button>
    <button (click)="uppdatePassengerPut(pass)">Uppdate Put Passenger</button>
  </div>

</div>
<div class="loader" *ngIf="indicator.loading">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

